#!/usr/bin/env -S pip install -r

# https://python-jsonschema.readthedocs.io/en/stable/validate/#validating-formats
# validate hostname
fqdn
lsp-tree-sitter >= 0.0.16
# ~/.config/pacman/template.md.j2
platformdirs
# validate uri
rfc3987
tree-sitter-bash
