#!/usr/bin/env -S pip install -r

# https://python-jsonschema.readthedocs.io/en/stable/validate/#validating-formats
# validate hostname
fqdn
# ~/.config/pacman/template.md.j2
platformdirs
# validate uri
rfc3987
tree-sitter-languages
# ErrorFinder
tree-sitter-lsp >= 0.0.13
